:root {
  --navbarHeight: 70px;
  --navbarBackground: #ffffff;
  --sidebarWidth: 40vw;
  --linkHoverColor: rgba(19, 96, 211, 1);
}

/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  color: #fff;
  padding: 0 2rem;
  height: var(--navbarHeight);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: background-color 0.25s;
  margin-bottom: 0.8rem;
  z-index: 10;

  & ul {
    padding: 0;
    margin: 0;
  }
  & a {
    text-decoration: none;
  }
  & * {
    font-size: 1.1rem;
    font-family: Roboto, sans-serif;
  }
}
.navbar__left,
.navbar__right {
  display: grid;
  place-items: center;
}

.navbar__logo {
  width: 100%;
  height: var(--navbarHeight);
  overflow: hidden;

  & img {
    width: 80%;
    height: 100%;
    object-fit: contain;
  }
}

.navbar__links {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
  transition: 0.2s ease all, 0s ease background;
}
.navbar__link {
  height: var(--navbarHeight);
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    color: #000;
    transition: all 0.1s;
  }

  &:hover {
    cursor: pointer;

    & a {
      color: var(--linkHoverColor);
      transform: scale(1.2);
    }
  }
}


.navbar.navbar--sticky {
  background-color: var(--navbarBackground);
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 2px 4px 1px rgba(105, 98, 98, 1);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(105, 98, 98, 1);
  -moz-box-shadow: 0px 2px 4px 1px rgba(105, 98, 98, 1);
}

#navbar__toggler {
  position: absolute;
  opacity: 0;
  right: -100px;
}

@keyframes appears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appears2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* RESPONSIVE */
@media screen and (max-width: 890px) {
  #navbar__toggler {
    opacity: 1;
    position: absolute;
    color: red;
    top: calc(var(--navbarHeight) / 2);
    left: 20px;
    z-index: 99;
    transform: translateY(-50%);
    cursor: pointer;
    width: 40px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    animation: appears 0.5s;
  }
  #navbar__toggler > * {
    width: 80%;
    height: 3px;
    background: #000;
    margin: 3px 0;
    transition: all 0.1s;
  }
  #navbar__toggler:hover > * {
    background: rgb(186, 186, 186);
  }
  .navbar__links {
    position: fixed;
    background: #000;
    z-index: 40;
    top: 0;
    left: -100%;
    flex-direction: column;
    width: var(--sidebarWidth);
    height: 100vh;
    gap: 5px;
  }
  .navbar__link {
    width: 100%;
    padding: 0;

    &:first-child{
      margin-top: 80px;
    }
    & a {
      color: #fff;
    }
  }
  .navbar__left {
    display: none;
  }

  .navbar.collapsed {
    /* for X transition */
    & #navbar__toggler > * {
      background: #fff;
    }
    & #navbar__toggler:hover > * {
      background: rgb(186, 186, 186);
    }

    & #navbar__toggler {
      & .line1 {
        transform: translateY(9px) rotate(-45deg);
      }
      & .line2 {
        opacity: 0;
      }
      & .line3 {
        transform: translateY(-9px) rotate(45deg);
      }
    }

    & .navbar__links {
      left: 0;
      min-width: 300px;
    }

    & #navbar__toggler {
      position: fixed;
      animation: appears2 0.5s;
    }
  }
}
